.background{
    width: 100%;
    height: 100vh;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.small-body{
    width: 500px;
    height: 500px;    
    background-color: #043565;
}