/* Navbar Styles */
.navbar {
    width: 100%;
    height: 5rem;
    background-color: #043565 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 1rem; Added padding for spacing */
  }
  
  label {
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-shadow: none;
  }
  
  .first-portion {
    display: flex;
    align-items: center;
  }
  
  .last-portion {
    display: flex;
    align-items: center;
  }
  
  .last-portion ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .list {
    text-decoration: none;
    color: white;
    margin: 0 1rem; /* Added margin for spacing */
  }
  
  /* Menubar Styles */
  .menubar {
    width: 0;
    height: 100%;
    background-color: #043565;
    opacity: 40%;
    position: fixed;
    top: 5rem;
    right: 0; /* Position the menubar on the right side */
    transition: width 0.3s ease-in-out;
    overflow-x: hidden;
    z-index: 9999;
  }
  
  .menubar.open {
    width: 192px;
  }
  
  .unordered-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Additional Styles */
  .items1 {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .menu{
    color: white !important;
  }
  